<!DOCTYPE html>
<html>
  <head>
    <title>Forms</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="./form"><h1>Click here to form</h1></a>
  </body>
</html>
